
.containerLogin{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.buttonLog{
  width: 100px;
  height: 25px;
  outline: none;
  background-color: transparent;
  border: 0.5px solid black;
  color: black;
  cursor: pointer;
}

.buttonLog:hover{
  background-color: white;
}
