@import url('https://fonts.googleapis.com/css?family=Montserrat');


.shopContainer{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  /*background: #e4e4f0;*/

}
/** VIEW CHANGE ***/
.changeView{
  position: absolute;
  left: 150px;
  background-color: transparent;
  top: 50px;
  height: 40px;
  width: 40px;
  padding: 0 1px 0 0;
  text-align: center;
  outline: none;
  border: none;
}



.shopItems{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shopWrap{
  display: flex;
  justify-content: center;
  width: 1200px;
}

.rightSideWrap{
  text-align: center;
  background-color: lightblue;
  flex-grow: 0.3;
}


/*** NORMAL VIEW **/
.shopRenderContainer{
  position: relative;
  text-align: center;
  margin: 20px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', arial;
  flex-direction: column;

}

.productImg{
  width: 350px;

}
.shopRenderContainer:hover button{
  display: block;
}

.shopRenderContainer:hover .stockTxt{
  display: block;
}

.shopRenderContainer:hover .blurImg{
  background-color: #2e2d2d70;
}

.blurImg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.buttonBuy{
  font-family: 'Montserrat', arial;
  color: white;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5px solid white;
  padding: 10px 30px;
  background-color: #2e2d2d70;
  letter-spacing: 0.5px;
  cursor: pointer;
  outline: none;
}


.itemName{
  font-family: 'Montserrat', arial;
  padding: 0 0 5px 0;
  width: 150px;
  border-bottom: 0.5px solid #b9b9b9;
}
.kronorTxt{
  font-family: 'Montserrat',sans-serif;
  font-size: 13px;
  color: #4d4c4c;
  letter-spacing: 0.5px;
  padding: 0 0 5px 0;
  margin: 5px 0 0 0;
}

.stockTxt{

  z-index: 10;
  color: white;
  position: absolute;
  bottom: 150px;
  display: none;
  font-family: 'Montserrat', arial;
}

.infoTxt{
  font-family: Arial;
  margin: 10px 0 10px 0;
}
/******/
